// 基本样式
@mixin input {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;

  &:hover {
    border: 1px solid #b5b8be;
  }
  &:focus {
    border: 1px solid #409eff;
  }
}
// placeholder样式
@mixin placeholder {
  input::placeholder {
    color: #dcdfe6;
  }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #dcdfe6;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #dcdfe6;
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #dcdfe6;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #dcdfe6;
  }
}
// 禁用样式
@mixin disabled {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}
@include placeholder;
input {
  @include input;
}

.myInput {
  width: 180px;
  cursor: pointer;
}
.disabled input {
  @include disabled;
}
