button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 10px;
  transition: 0.1s;
  font-weight: 500;
  /* -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none; */
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
@import "mixin";
@import "type";
@import "plain"; // 圆角
[round="true"] {
  border-radius: 20px;
  padding: 12px 23px;
}
// 原形
.circle {
  border-radius: 50%;
  padding: 12px;
}
// 文字
@mixin text {
  border-color: transparent;
  color: #409eff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}
@mixin td {
  background-color: transparent;
  border-color: transparent;
  color: #c0c4cc;
}
[type="text"] {
  @include text;
  &:hover {
    @include text;
  }
}
[type="text"].disabled {
  @include td;
}
